@tailwind base;
@tailwind components;
@tailwind utilities;


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* Add your default styles */
input {
    border: 1px solid #98aac2; /* Default border color */
    outline: none; /* Remove the outline */
  }
  input[type='text']{
    text-indent: 5px;
  }
  
  /* Add styles for the focused state */
  input:focus {
    /* border-color: #2c5282;  */
    /* Change border color when in focus */
    /* box-shadow: 0 0 0 2px rgba(44, 82, 130, 0.5); */
     /* Add a box shadow when in focus */
  }
  
  /* Add styles for the hover state */
  input:hover {
    border-color: #2c5282; /* Change border color on hover */
  }
  
  /* Add styles for the active state (when clicked) */
  input:active {
    border-color: #2c5282; /* Change border color when active (clicked) */
  }
  
  /* Add styles for the disabled state */
  input:disabled {
    background-color: #edf2f7; /* Change background color when disabled */
    cursor: not-allowed; /* Change cursor style when disabled */
  }

  textarea {
    border: 1px solid #98aac2; /* Default border color */
    outline: none; /* Remove the outline */
    padding: 8px; /* Add padding for better appearance */
    
  }
  textarea[type='text']{
    text-indent: 5px;
  }
  
  /* Add styles for the focused state */
  textarea:focus {
    /* border-color: #2c5282;  */
    /* Change border color when in focus */
    /* box-shadow: 0 0 0 2px rgba(44, 82, 130, 0.5);  */
    /* Add a box shadow when in focus */
  }
  
  /* Add styles for the hover state */
  textarea:hover {
    border-color: #2c5282; /* Change border color on hover */
  }
  
  /* Add styles for the active state (when clicked) */
  textarea:active {
    border-color: #2c5282; /* Change border color when active (clicked) */
  }
  
  /* Add styles for the disabled state */
  textarea:disabled {
    background-color: #edf2f7; /* Change background color when disabled */
    cursor: not-allowed; /* Change cursor style when disabled */
  }


  /* Global styles for buttons */
button{
  @apply rounded;

  /* Hover styles */
  &:hover {
    background-color: #45a049;
  }

  /* Active (pressed) styles */
  &:active {
    background-color: #39843f;
  }

  /* Focus styles (when button is focused) */
  &:focus {
    outline: none; /* Remove focus outline */
    box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.5); /* Add custom focus border */
  }

  /* Disabled styles */
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}