@media only screen and (max-width:992px) {
    .price::before{
        content:'Price: ';
        font-weight: 500;
    } 
    .quantity::before{
        content:'Quantity: ';
        font-weight: 500;
    } 
    .total::before{
        content:'Total: ';
        font-weight: 500;
    } 
    .extras, .price, .quantity{
        font-size: 20px;
    }
}